/.gradle/4.10.3/fileHashes/
/spring-beans/build/
/spring-context/build/kotlin/compileKotlin/
/spring-jdbc/build/kotlin/compileKotlin/
/spring-test/build/kotlin/compileKotlin/
/spring-web/build/kotlin/compileKotlin/
/spring-webflux/build/kotlin/compileKotlin/
/.gradle/4.10.3/fileContent/annotation-processors.bin
/.gradle/4.10.3/fileContent/fileContent.lock
/.gradle/4.10.3/javaCompile/classAnalysis.bin
/.gradle/4.10.3/javaCompile/jarAnalysis.bin
/.gradle/4.10.3/javaCompile/javaCompile.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/4.10.3/fileHashes/
/spring-beans/build/
/spring-core/build/
/spring-aspects/build/libs/
/spring-aop/build/
/.gradle/4.10.3/fileHashes/
/spring-beans/build/
/spring-beans/build/
/spring-aspects/build/libs/
/spring-aspects/build/libs/
/spring-beans/build/kotlin/
/spring-beans/build/
/buildSrc/build/libs/
/spring-context-indexer/build/libs/
/spring-core/build/
/spring-expression/build/
/spring-framework-bom/build/libs/
/spring-instrument/build/
/build/
/.gradle/
