<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.zjnu.biz.dao.IBookDao">

    <insert id="insertBatch">
        INSERT INTO book
        (name, uuid, user_id)
        VALUES
        <foreach collection="books" item="book" separator=",">
            (#{book.name}, #{book.uuid}, #{book.userId})
        </foreach>
    </insert>

    <select id="getBookById" resultType="edu.zjnu.biz.entity.Book">
        select t.*
        from book t
        where id = #{id};
    </select>
</mapper>